<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('./partials/head.ejs')%>
  <link rel="stylesheet" href="/air.css">
  </head>
<body>
  <div class="container">
  <%- include('./partials/header.ejs')%>
  <br>
  <div class="row">
    <div class="col-sm-2"><h4>Name</h4></div>
    <div class="col-sm-2"><h4>Image</h4></div>
    <div class="col-sm-2"><h4>Town</h4></div>
    <div class="col-sm-3"><h4>Video</h4></div>
    <div class="col-sm-2"><h4>Quote</h4></div>
  </div><hr>
        <% for (let i = 0; i < allAirNomads.length; i++) {%>
          <div class="row">
            <div class="col-sm-2">
            <h6><a href="/airnomads/<%=i%>"><%= allAirNomads[i].name %></a></h6>
            </div>
            <div class="col-sm-2" id="div-img">
            <a href="/airnomads/<%=i%>"><img src="<%= allAirNomads[i].img %>" width="150px"></a>
            </div>
            <div class="col-sm-2">
              <h6><%= allAirNomads[i].town %></h6>
            </div>
            <div class="col-sm-3">
              <iframe width="230" src="https://www.youtube.com/embed/<%= allAirNomads[i].video %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-sm-2">
              <h7>"<%= allAirNomads[i].quote %>"</h7>
            </div>
            <div class="col-sm-1">
              <div class="row">
              <form action="/airnomads/<%=i; %>/edit">
                <input class="btn btn-warning" type="submit" value="Edit" />
              </form>
              </div>
              <br>
              <div class="row">
              <form action="/airnomads/<%=i; %>?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete" />
              </form>
              </div>
            </div>
        </div>
        <hr>
        <% } %>
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-between">
            <div>
        <form action="/airnomads/new">
          <input class="btn btn-primary" type="submit" value="New" />
        </form>
            </div>
            <div>
        <form action="/">
          <input class="btn btn-success" type="submit" value="Home" />
        </form>
            </div>
          </div>
        </div>
  <%- include('./partials/footer.ejs')%>
  </div>
</body>
</html>