<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('./partials/head.ejs')%>
  <link rel="stylesheet" href="/css/air.css">
  </head>
<body>
  <div class="container">
  <%- include('./partials/header.ejs')%>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <img src="<%= airNomads.img %>">
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2">
        <h6>Name: </h6>
        </div>
        <div class="col-sm-10">
        <%= airNomads.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <h6>Town: </h6>
        </div>
        <div class="col-sm-10">
          <%= airNomads.town %>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-2">
            <h6>Quote: </h6>
          </div>
          <div class="col-sm-10">
            "<%= airNomads.quote %>"
          </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-end">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= airNomads.video %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-auto">
      <form action="/airnomads">
        <input class="btn btn-danger" type="submit" value="Back" />
      </form>
    </div>
  </div>
  <%- include('./partials/footer.ejs')%>
  </div>
</body>
</html>