<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('./partials/head.ejs')%>
  <link rel="stylesheet" href="./css/air.css">
  </head>
<body>
  <div class="container">
  <%- include('./partials/header.ejs')%>
  <br>
  <form action="/airnomads/<%=index%>?_method=PUT" method="POST">
  <div clas="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-2">Name:</div>
        <div class="col-sm-3"><input class="form-control input-sm" id="inputsm"  type="text" name="name" value="<%=airNomads.name%>" /></div>
      </div>
      <div class="row">
        <div class="col-sm-2">Img:</div>
        <div class="col-sm-10"><input class="form-control input-sm" id="inputsm"  type="text" name="img" value="<%=airNomads.img%>" /></div>
      </div>
      <div class="row">
        <div class="col-sm-2">Town:</div>
        <div class="col-sm-3"><input class="form-control input-sm" id="inputsm"  type="text" name="town" value="<%=airNomads.town%>" /></div>
      </div>
      <div class="row">
        <div class="col-sm-2">Youtube ID:</div>
        <div class="col-sm-3"><input class="form-control input-sm" id="inputsm"  type="text" name="video" value="<%=airNomads.video%>" /></div>
      </div>
      <div class="row">
        <div class="col-sm-2">Quote:</div>
        <div class="col-sm-10"><input class="form-control input-sm" id="inputsm" type="text" name="quote" value="<%=airNomads.quote%>" /></div>
      </div>

    </div>
  </div>
      
    <br>
    <div class="row">
      <div class="col-sm-auto"><input class="btn btn-primary" type="submit" value="Submit Changes" /></form></div>
      <div class="col-sm-auto">
        <form action="/airnomads">
          <input class="btn btn-danger" type="submit" value="Back" />
        </form>
      </div>
    </div>
  <%- include('./partials/footer.ejs')%>
  </div>
</body>
</html>