<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('./partials/head.ejs')%>
  <link rel="stylesheet" href="/css/fire.css">
  </head>
<body>
  <div class="container">
  <%- include('./partials/header.ejs')%>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <form action="/firenation/suggest" method="POST">
            <div class="row">
              <div class="col-sm-2"><h6>Name:</h6></div>
              <div class="col-sm-10"><%= fireSuggest[0].name %></div>
              <div class="col-sm-2"><h6>Town:</h6></div>
              <div class="col-sm-10"><%= fireSuggest[0].town %></div>
              <div class="col-sm-2"><h6>Quote:</h6></div>
              <div class="col-sm-10"><%= fireSuggest[0].quote %></div>
              <input type="hidden" name="name" value="<%= fireSuggest[0].name %>">
              <input type="hidden" name="town" value="<%= fireSuggest[0].town %>">
              <input type="hidden" name="quote" value="<%= fireSuggest[0].quote %>">
            </div>
            <br>
            <div class="row">
              <div class="col-sm-auto">
                <input class="btn btn-primary" type="submit" value="Create">
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-4">
          <form action="/firenation/suggest" method="POST">
            <div class="row">
              <div class="col-sm-2"><h6>Name:</h6></div>
              <div class="col-sm-10"><%= fireSuggest[1].name %></div>
              <div class="col-sm-2"><h6>Town:</h6></div>
              <div class="col-sm-10"><%= fireSuggest[1].town %></div>
              <div class="col-sm-2"><h6>Quote:</h6></div>
              <div class="col-sm-10"><%= fireSuggest[1].quote %></div>
              <input type="hidden" name="name" value="<%= fireSuggest[1].name %>">
              <input type="hidden" name="town" value="<%= fireSuggest[1].town %>">
              <input type="hidden" name="quote" value="<%= fireSuggest[1].quote %>">
            </div>
            <br>
            <div class="row">
              <div class="col-sm-auto">
                <input class="btn btn-primary" type="submit" value="Create">
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-4">
          <form action="/firenation/suggest" method="POST">
            <div class="row">
              <div class="col-sm-2"><h6>Name:</h6></div>
              <div class="col-sm-10"><%= fireSuggest[2].name %></div>
              <div class="col-sm-2"><h6>Town:</h6></div>
              <div class="col-sm-10"><%= fireSuggest[2].town %></div>
              <div class="col-sm-2"><h6>Quote:</h6></div>
              <div class="col-sm-10"><%= fireSuggest[2].quote %></div>
              <input type="hidden" name="name" value="<%= fireSuggest[2].name %>">
              <input type="hidden" name="town" value="<%= fireSuggest[2].town %>">
              <input type="hidden" name="quote" value="<%= fireSuggest[2].quote %>">
            </div>
            <br>
            <div class="row">
              <div class="col-sm-auto">
                <input class="btn btn-primary" type="submit" value="Create">
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-auto">
          <form action="/firenation/new">
            <input class="btn btn-danger" type="submit" value="Back" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs')%>
  </div>
</body>
</html>